<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hibiscus El Salvador</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,wide {font-family: "Montserrat", sans-serif;}
    </style>
</head>

<body class="content" style="max-width:1200px">

<!-- Sidebar -->
<nav class="sidebar bar-block white collapse top" style="z-index:3;width:250px" id="mySidebar">
  <div class="container display-container padding-16">
    <i onclick="close()" class="fa fa-remove hide-large button display-topright"></i>
    <div class="nav-brand">
      <a href="index.html">
        <img src="/static/images/hibiscusSV.jpg"/>
      </a>
    </div>
  </div>
  <div class="padding-64 large text-grey" style="font-weight:bold">
    <a href="#Conocenos" class="bar-item button">Nosotros</a>
    <a href="/templates/swimmwear.html" class="bar-item button">Swimmwear</a>
    <a href="/templates/otros.html" class="bar-item button">Otros</a>
  </div>
  <a href="#footer" class="bar-item button padding">Contáctanos</a> 
  <a href="javascript:void(0)" class="bar-item button padding" onclick="document.getElementById('newsletter').style.display='block'">Suscríbete</a> 
</nav>

<!-- Menú de arriba en pantallas pequeñas -->
<header class="bar top hide-large black xlarge">
  <div class="bar-item padding-24 wide">LOGO</div>
  <a href="javascript:void(0)" class="bar-item button padding-24 right" onclick="open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Abriendo la sidebar en pantallas pequeñas-->
<div class="overlay hide-large" onclick="close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Contenido de la página -->
<div class="main" style="margin-left:250px">

  <!-- Lanzar contenido en pantallas pequeñas -->
  <div class="hide-large" style="margin-top:83px"></div>

  <!-- Encabezado superior -->
  <header class="container xlarge">
    <div class="nav">
      <a href="/templates/index.html" target="_blank">Hibiscus El Salvador</a>
      <div id="headerM">
        <p class="right">
          <a href="/templates/cart.html" target="_blank"><i class="fa fa-shopping-cart margin-right"></i></a>
          <a href="{{url_for('login')}}">Login</a>
        </p>
      </div>
    </div>
  </header>

  <!-------- Categorías especiales------>
    <div class="categories">
        <div class="small-model">
            <div class="row">
                <div class="col-3">
                    <img src="/static/images/salidareal.jpg">
                </div>
            </div>
        </div>

    </div>
     <!-------- Conócenos------>
    <section id="Conocenos" class="Conocenos">
      <div class="container">
        <div class="about-text-box">
          <h2 align="center">Conócenos</h2>
          <p align="center">Somos una tienda salvadoreña online de trajes de baño, artículos playeros y ropa para mujeres.
            Creada con mucha dedicación el 9 de octubre del 2020 y operada vía Instagram, ofrecemos las piezas de baño
            más lindas y delicadas al precio que todas merecemos. Con cobertura de envíos a nivel nacional, un amplio
            catálogo de piezas y la mejor atención al cliente, sentirás que por fin has encontrado la retail store que tanto buscabas.</p>
        <p align="center">HIBISCUS SWIMWEAR es para ti, para mí y para todas. Siempre es un gusto atenderte.</p>
        <p align="center">¡Gracias por formar partr de nuestro emprendimiento!</p>
        <br>

          <!-------- Entregas------>
    <section id="Entregas" class="Entregas">
      <div class="container">
        <div class="about-text-box">
          <h2 align="center">Entregas</h2>
          <p align="center">Recuerda que hacemos entregas inmediatas en Multiplaza, La Gran Vía, Plaza Merliot y Las Cascadas
            sin costo
            adicional</p>
        <br>
        <p align="center">Tarifas de envío según la zona:</p>
        <p align="center">San Salvador, Mejicanos, Ayutuxtepeque, Cuscatancingo, Soyapango, Antiguo Cuscatlán y Santa Tecla
            $3</p>
        <p align="center">San Marcos, Apopa y Nuevo Cuscatlán $4</p>
        <p align="center">Ilopango y zona paracentral occidental $5</p>
        <p align="center">Lourdes y Zaragoza $6</p>
        <p align="center">San José Villanueva y zona oriental $7</p>
        <br>
        <p align="center">Las entregas a la zona oriental se realizan los días martes y a la zona occidental los días
            jueves. Recuerda
            agendar tu pedido con al menos 24 horas de anticipación.
        </p>
        <br>

         <!-------- Pago------>
    <section id="Pago" class="Pago">
      <div class="container">
        <div class="about-text-box">
          <h2 align="center">Pago</h2>
          <p align="center">Contamos con dos métodos de pago: en efectivo y por transferencia bancaria a Banco
            Agrícola o Davivienda. Recuerda que el pago en efectivo es contra entrega, mientras que el pago por transferencia
            bancaria debe realizarse al menos una hora antes de entregarte el producto.
          </p>
          <br>

          <!-------- Devoluciones y cambios------>
    <section id="Cambio" class="Cambio">
      <div class="container">
        <div class="about-text-box">
          <h2 align="center">Devoluciones y cambios</h2>
          <p align="center">Por la seguridad e higiene de todos nuestros clientes, las piezas que son adquiridas no pueden
            ser devueltas o en su defecto, ser cambiadas por otro artículo. Te recomendamos que antes de aquirir una prenda
            te comuniques con nosotros para poder brindarte asesoramiento sobre las medidas exactas de cada pieza. En HIBISCUS 
            estamos comprometidos con tu bienestar.
          </p>
          <br>

  <!-- Sección de suscripción -->
  <div class="container black padding-32">
    <h1>Subscríbete</h1>
    <p>Para obtener ofertas especiales y enterárte de las novedades:</p>
    <p><input class="input border" type="text" placeholder="Ingresa tu e-mail" style="width:100%"></p>
    <button type="button" class="button red margin-bottom">Subscríbete</button>
  </div>
  <!-- Pie de página -->
  <footer class="padding-64 light-grey small center" id="footer">
    <div class="row-padding">
      <div class="col s4">
        <h4>Contáctanos</h4>
        <p>¿Tienes preguntas? Te responderemos lo más pronto posible.</p>
        <form action="/action_page.php" target="_blank">
          <p><input class="input border" type="text" placeholder="Nombre" name="Nombre" required></p>
          <p><input class="input border" type="text" placeholder="Email" name="Email" required></p>
          <p><input class="input border" type="text" placeholder="Asunto" name="Asunto" required></p>
          <p><input class="input border" type="text" placeholder="Mensaje" name="Mensaje" required></p>
          <button type="submit" class="button block black">Enviar</button>
        </form>
      </div>

      <div class="col s4">
        <h4>Acerca de</h4>
        <p><a href="#Conocenos">Conócenos</a></p>
        <p><a href="#Entregas">Entregas</a></p>
        <p><a href="#Pago">Pago</a></p>
        <p><a href="#Cambio">Devolución y cambio</a></p>
      </div>

      <div class="col s4 justify">
        <h4>Nosotros</h4>
        <p><i class="fa fa-fw fa-map-marker"></i>Santa Tecla, El Salvador</p>
        <p><i class="fa fa-fw fa-phone"></i>503 7682 6922</p>
        <a href="mailto:hibiscusswimsv@gmail.com"><i class="fa fa-fw fa-envelope hover-opacity large"></i> hibiscusswimsv@gmail.com</>
        <h4>Aceptamos</h4>
        <p><i class="fa fa-money" aria-hidden="true"></i> Efectivo</p>
        <p><i class="fa fa-fw fa-credit-card"></i> Tarjeta de crédito</p>
        <br>
        <a href="https://www.facebook.com/svhibiscus" target="_blank"><i class="fa fa-facebook-official hover-opacity large"></i></a>
        <a href="https://www.instagram.com/svhibiscus/" target="_blank"><i class="fa fa-instagram hover-opacity large"></i></a>
      </div>
    </div>
  </footer>

  <div class="black center padding-24">Powered by Hibuscus El Salvador</a></div>

  <!-- Contenido del final de la página -->
</div>

<!-- Suscripción -->
<div id="newsletter" class="modal">
  <div class="modal-content animate-zoom" style="padding:32px">
    <div class="container white center">
      <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove right button transparent xxlarge"></i>
      <h2 class="wide">SUSCRÍBETE</h2>
      <p>Únete a nuestra lista de correo para recibir actualizaciones sobre nuevas colecciones y ofertas especiales.</p>
      <p><input class="input border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="button padding-large red margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
    </div>
  </div>
</div>

<script src="/static/cart.js"></script>
<script src="{{url_for('static', filename='preload.js')}}"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>